/* CONTACT */
#contact-section {
	background-color: #0f203e;
	padding-top: 1.5vh;
	padding-bottom: 2vh;
	box-shadow: 0 0px 10px rgba(0, 0, 0, 0.5);
}
#contact-section h2,
h3,
p {
	color: #fbfcfe;
}
.contact-div h3 a[href^="tel"] {
	color: #fbfcfe;
}
.contact-div h3 a[href^="mailto"] {
	color: #fbfcfe;
}
#contact-section h2 {
	text-align: center;
}
#contact-section .line-divider {
	border-top: 2px solid #fbfcfe;
}
.contact-div {
	display: flex;
	align-items: center;
	justify-content: left;
	/* padding: 20px; */
	margin: 20px 20px 20px 10vw;
	/* margin-left: 2vw; */
}
.contact-div img {
	width: 38px;
	height: auto;
}
.contact-div div {
	display: flex;
	flex-direction: column;
	max-width: 80vw;
	margin-left: 5px;
}
.contact-div h3 {
	margin-left: 20px;
	margin-top: 10px;
	margin-bottom: 10px;
}
.line-divider-contact {
	width: 52.5%;
	border-top: 2px solid #fbfcfe;
	margin: 0 auto;
	display: none;
}
.contact-sendoff {
	text-align: center;
	font-size: 1.25rem;
}
/* MOBILE */
@media screen and (max-width: 675px) {
	#feature-contact-section {
		display: none;
	}
}

/* TABLET AND DESKTOP */
@media screen and (min-width: 675px) {
	#contact-section {
		display: none;
	}
	/* CONTACT */
	.contact-div {
		display: flex;
		align-items: center;
		justify-content: flex-start;
		font-size: 0.9rem;
		margin: 10px 0;
	}
	.contact-div div {
		display: flex;
		flex-direction: column;
	}
	.contact-div h3 a[href^="tel"] {
		color: #fbfcfe;
	}
	.contact-div h3 a[href^="mailto"] {
		color: #fbfcfe;
	}
	.contact-div img {
		width: 38px;
		height: auto;
	}
	.contact-div h3 {
		margin-left: 20px;
		color: #fbfcfe;
	}
	.contact-card p {
		color: #fbfcfe;
		margin: auto;
		padding-top: 10px;
	}
	.line-divider-contact {
		width: 50%;
		max-width: 225px;
		border-top: 2px solid #fbfcfe;
		margin: 0 auto 0 80px;
		display: none;
	}
	.contact-sendoff {
		text-align: center;
		font-size: 1.25rem;
	}
	/* CONTACT-FEATURE */
	#feature-contact-section {
		background-color: #0f203e;
		padding-top: 2vw;
		padding-bottom: 3vw;
		box-shadow: 0 0px 10px rgba(0, 0, 0, 0.5);
	}
	#feature-contact-section h2 {
		text-align: center;
		color: #fbfcfe;
	}
	.feature-contact-container {
		display: flex;
		align-items: center;
		justify-content: space-evenly;
	}
	.feature-contact-sendoff {
		width: 380px;
		max-width: 550px;
		text-align: center;
	}
	.feature-contact-sendoff p {
		color: #fbfcfe;
		font-size: 1.25rem;
	}
	.td-contact-midline {
		border-right: 2px solid #fbfcfe;
		height: 300px;
	}
	.feature-contact-info {
		width: 380px;
		max-width: 550px;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-start;
	}
}
/* DESKTOP */
@media screen and (min-width: 1200px) {
	.contact-div {
		font-size: 1rem;
	}
	.feature-contact-sendoff {
		width: 450px;
	}
	.feature-contact-sendoff p {
		font-size: 1.5rem;
	}
	.feature-contact-info {
		width: 450px;
	}
}
