/* FOOTER */
#footer {
	background-color: #0f203e;
	color: #fbfcfe;
	padding-top: 3vh;
	padding-bottom: 1vh;
}
#footer-links {
	display: flex;
	justify-content: space-around;
}
#footer-links div {
	display: flex;
	flex-direction: column;
}
#footer-links p {
	margin-top: 8px;
	margin-bottom: 8px;
}
#footer p:last-child {
	text-align: center;
}
#footer-links a {
	color: #fbfcfe;
	text-decoration: none;
}
/* MOBILE */
@media screen and (max-width: 675px) {
	#td-footer {
		display: none;
	}
}

/* TABLET AND DESKTOP */
@media screen and (min-width: 675px) {
	#footer {
		display: none;
	}
	/* FOOTER */
	#td-footer {
		background-color: #0f203e;
		color: #fbfcfe;
		padding-top: 25px;
		padding-bottom: 5px;
	}
	#td-footer-links {
		display: flex;
		justify-content: space-around;
	}
	#td-footer-links ul {
		display: flex;
		align-items: center;
	}
	#td-footer-links ul li {
		list-style-type: none;
		padding: 10px;
		font-size: 1rem;
	}
	#td-footer-links a {
		text-decoration: none;
		color: #fbfcfe;
	}
	#td-footer p:last-child {
		text-align: center;
		color: #fbfcfe;
	}
}
