@media screen and (max-width: 600px) {
	/* NAV-BAR */
	#m-nav {
		display: flex;
		justify-content: space-between;
		align-items: center;
		position: fixed;
		top: 0;
		width: 100%;
		height: 60px;
		background-color: rgba(251, 252, 254, 0.8);
		border-bottom: 2px solid #b9cce4;
		z-index: 1;
		box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
	}
	#m-nav a.m-nav-a-img {
		height: 90%;
		display: flex;
		align-items: center;
	}
	#m-nav .m-nav-a-img.m-nav-logo1 {
		padding-left: 2vw;
	}
	#m-nav img {
		height: 80%;
		object-fit: contain;
	}
	#m-nav .m-nav-more {
		width: 10vw;
		height: 4.5vh;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		padding-right: 2vw;
		transition: all 0.05s ease-in-out;
	}
	#m-nav .m-nav-more:active div {
		transform: scale(0.95);
		box-shadow: 0 0px 2px rgba(0, 0, 0, 0.38);
	}
	#m-nav .m-nav-more div {
		border-top: 7px solid #b9cce4;
		border-radius: 25px;
		width: 10vw;
		box-shadow: 0 1px 2px rgba(0, 0, 0, 0.38);
	}
	.dropdown-content {
		display: none;
		flex-direction: column;
		position: fixed;
		width: 100%;
		height: 100%;
		top: 60px;
		left: 0;
		overflow: auto;
		background-color: #fbfcfe;
		z-index: 1;
		border-top: 2px solid #b9cce4;
	}
	.dropdown-content h1 {
		margin: 0;
		align-self: flex-end;
		margin-right: 2vw;
		margin-bottom: 1vh;
		color: #b9cce4;
		text-shadow: 0 1px 2px rgba(0, 0, 0, 0.38);
	}
	.dropdown-content h1:hover {
		cursor: pointer;
	}
	.dropdown-content h1:active {
		transform: scale(0.95) translateY(2px);
		text-shadow: 0 0px 2px rgba(0, 0, 0, 0.38);
	}
	.dropdown-content .dropdown-links {
		display: flex;
		flex-direction: column;
		border-top: 1px solid #b9cce4;
		margin-right: 25vw;
	}
	.dropdown-content a {
		text-decoration: none;
		color: #4672b9;
		font-family: "Headings";
		font-size: 2rem;
		padding-top: 4vh;
		padding-bottom: 4vh;
		padding-left: 5vw;
		padding-right: 5vw;
		border-bottom: 1px solid #b9cce4;
	}
	.dropdown-content a:active {
		background-color: #b9cce4;
		color: #0f203e;
	}
}
/* DESKTOP */
@media screen and (min-width: 600px) {
	/* NAV-BAR */
	#d-nav {
		width: 100%;
		height: 60px;
		position: fixed;
		top: 0;
		display: flex;
		justify-content: space-between;
		align-items: center;
		background-color: rgba(251, 252, 254, 0.8);
		border-bottom: 2px solid #b9cce4;
		z-index: 1;
		box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
	}
	#d-nav a.d-book-button {
		margin-right: 1vw;
	}
	#d-nav-left-container {
		display: flex;
		height: 100%;
		align-items: center;
	}
	#d-nav-left-container a {
		display: flex;
		height: 100%;
		align-items: center;
	}
	#d-nav img {
		height: 80%;
		object-fit: contain;
		padding-right: 1.5vw;
	}
	#d-nav img.d-nav-logo1 {
		margin-left: 1vw;
	}
	#d-nav-right-container {
		display: flex;
		height: 100%;
		align-items: center;
	}
	#d-nav-right-container .d-nav-link {
		text-decoration: none;
		color: #0f203e;
		margin-right: auto;
		height: 100%;
		margin-left: -1px;
	}
	#d-nav-right-container .d-nav-link:hover {
		background-color: #b9cce4;
	}
	#d-nav-links-container {
		display: flex;
		margin-right: 10px;
		height: 100%;
	}
	#d-nav-links-container a {
		margin-right: 10px;
		display: flex;
		align-items: center;
	}
	#d-nav-links-container h3 {
		list-style-type: none;
		padding: 5px 10px 5px 10px;
		font-size: 1.1rem;
		border-right: 1px solid #b9cce4;
	}
	#d-nav-links-container h3.d-nav-last-link {
		border-right: none;
	}
}
