/* MOBILE */
@media screen and (max-width: 600px) {
	.m-sub-feature .m-socials-icons {
		padding-bottom: 1vh;
	}
	/* AMENITIES */
	#m-booking-amenities-section {
		display: flex;
		justify-content: center;
		padding-top: 6vh;
		padding-bottom: 6vh;
	}
	.m-amenities-container {
		width: 80vw;
		background-color: #0f203e;
		border: 2px solid #4672b9;
		border-radius: 25px;
		box-shadow: 0 3px 15px 5px rgba(0, 0, 0, 0.5);
	}
	.m-amenities-header {
		border-bottom: 2px solid #fbfcfe;
	}
	.m-amenities-header h2 {
		color: #fbfcfe;
		text-align: center;
		margin: 2vw;
	}
	.m-amenities-content-container {
		display: flex;
		justify-content: space-evenly;
		padding-right: 3vw;
	}
	.m-amenities-content-container ul li {
		color: #fbfcfe;
		background-size: 6vw 6vw;
		background-position-y: center;
		padding-top: 1vh;
		padding-bottom: 1vh;
		padding-left: 7vw;
	}
	.m-amenities-content-container ul {
		list-style-type: none;
		margin-left: -5vw;
	}
	li.m-amenities-item1 {
		background: url(./images/icons/aircon_icon.png) no-repeat;
	}
	li.m-amenities-item2 {
		background: url(./images/icons/tv_icon.png) no-repeat;
	}
	li.m-amenities-item3 {
		background: url(./images/icons/wifi_icon.png) no-repeat;
	}
	li.m-amenities-item4 {
		background: url(./images/icons/bottle_icon.png) no-repeat;
	}
	li.m-amenities-item5 {
		background: url(./images/icons/parking_icon.png) no-repeat;
	}
	li.m-amenities-item6 {
		background: url(./images/icons/airport_icon.png) no-repeat;
	}
	li.m-amenities-item7 {
		background: url(./images/icons/car_icon.png) no-repeat;
	}
	li.m-amenities-item8 {
		background: url(./images/icons/seaview_icon.png) no-repeat;
	}
	li.m-amenities-item9 {
		background: url(./images/icons/tour_icon.png) no-repeat;
	}
	li.m-amenities-item10 {
		background: url(./images/icons/nonsmoking_icon.png) no-repeat;
	}
	li.m-amenities-item11 {
		background: url(./images/icons/shower_icon.png) no-repeat;
	}
	li.m-amenities-item12 {
		background: url(./images/icons/bath_icon.png) no-repeat;
	}
	li.m-amenities-item13 {
		background: url(./images/icons/coffee_icon.png) no-repeat;
	}
	li.m-amenities-item14 {
		background: url(./images/icons/laks_icon.png) no-repeat;
	}
	li.m-amenities-item15 {
		background: url(./images/icons/kalle_icon.png) no-repeat;
	}
	li.m-amenities-item16 {
		background: url(./images/icons/iwash_icon.png) no-repeat;
	}
	li.m-amenities-item17 {
		background: url(./images/icons/agency_icon.png) no-repeat;
	}
	li.m-amenities-item18 {
		background: url(./images/icons/fridge_icon.png) no-repeat;
	}
	li.m-amenities-item19 {
		background: url(./images/icons/safety_icon.png) no-repeat;
	}
}
/* DESKTOP */
@media screen and (min-width: 600px) {
	#d-amenities-card-section {
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.d-amenities-container {
		width: 80vw;
		background-color: #0f203e;
		border: 2px solid #4672b9;
		border-radius: 25px;
		margin-left: 3vw;
		box-shadow: 0 3px 15px 5px rgba(0, 0, 0, 0.5);
	}
	.d-amenities-header {
		border-bottom: 2px solid #fbfcfe;
	}
	.d-amenities-header h2 {
		color: #fbfcfe;
		text-align: center;
		margin: 1vw;
	}
	.d-amenities-content-container {
		display: flex;
		justify-content: space-evenly;
		padding-right: 20px;
	}
	.d-amenities-content-container ul li {
		color: #fbfcfe;
		padding-top: 2vh;
		padding-bottom: 2vh;
		padding-left: 4vw;
		background-size: 3vw 3vw;
		background-position-y: center;
	}
	.d-amenities-content-container ul {
		list-style-type: none;
	}
	li.d-amenities-item1 {
		background: url(./images/icons/aircon_icon.png) no-repeat;
	}
	li.d-amenities-item2 {
		background: url(./images/icons/tv_icon.png) no-repeat;
	}
	li.d-amenities-item3 {
		background: url(./images/icons/wifi_icon.png) no-repeat;
	}
	li.d-amenities-item4 {
		background: url(./images/icons/bottle_icon.png) no-repeat;
	}
	li.d-amenities-item5 {
		background: url(./images/icons/parking_icon.png) no-repeat;
	}
	li.d-amenities-item6 {
		background: url(./images/icons/airport_icon.png) no-repeat;
	}
	li.d-amenities-item7 {
		background: url(./images/icons/car_icon.png) no-repeat;
	}
	li.d-amenities-item8 {
		background: url(./images/icons/seaview_icon.png) no-repeat;
	}
	li.d-amenities-item9 {
		background: url(./images/icons/tour_icon.png) no-repeat;
	}
	li.d-amenities-item10 {
		background: url(./images/icons/nonsmoking_icon.png) no-repeat;
	}
	li.d-amenities-item11 {
		background: url(./images/icons/shower_icon.png) no-repeat;
	}
	li.d-amenities-item12 {
		background: url(./images/icons/bath_icon.png) no-repeat;
	}
	li.d-amenities-item13 {
		background: url(./images/icons/coffee_icon.png) no-repeat;
	}
	li.d-amenities-item14 {
		background: url(./images/icons/laks_icon.png) no-repeat;
	}
	li.d-amenities-item15 {
		background: url(./images/icons/kalle_icon.png) no-repeat;
	}
	li.d-amenities-item16 {
		background: url(./images/icons/iwash_icon.png) no-repeat;
	}
	li.d-amenities-item17 {
		background: url(./images/icons/agency_icon.png) no-repeat;
	}
	li.d-amenities-item18 {
		background: url(./images/icons/fridge_icon.png) no-repeat;
	}
	li.d-amenities-item19 {
		background: url(./images/icons/safety_icon.png) no-repeat;
	}
}
