/* MOBILE */
@media screen and (max-width: 675px) {
	#landing-section {
		display: block;
	}
	.line-divider {
		margin: 30px auto;
		padding: 0;
	}
	/* BOOKING */
	#booking-section {
		margin-top: 60px;
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
		font-size: 1.15rem;
	}
	h2.m-only {
		color: #0f203e;
		margin-bottom: 0;
	}
	.booking-info {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin: 0 auto 0 auto;
		padding-bottom: 30px;
	}
	#booking-section p {
		color: #0f203e;
		width: 70vw;
		margin-top: auto;
		margin-bottom: auto;
		padding-bottom: 1vh;
	}
	#booking-section a {
		color: #0f203e;
		font-weight: bold;
	}
	.booking-info ul {
		color: #0f203e;
		width: 70vw;
		padding-left: 25vw;
		margin: auto;
		text-align: left;
	}
	.booking-info ul li {
		padding: 3px 0;
	}
	.booking-card-container {
		box-shadow: 0 2px 9px rgba(0, 0, 0, 0.5);
		border-radius: 10px;
		width: 90vw;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding: 0 0 25px 0;
	}
	.booking-card-container h3 {
		color: #0f203e;
		text-align: center;
	}
	#booking-section .booking-card-container p {
		color: #0f203e;
		text-align: center;
		width: min(90%, 60ch);
		padding: 0 0 10px 0;
	}
	.booking-card-img-container {
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
		align-items: center;
		width: 100%;
		flex-wrap: wrap;
	}
	.booking-card-img-container a {
		width: 35%;
		margin-bottom: 10px;
	}
	.booking-card-img-container img {
		width: 100%;
	}
	#booking-section .booking-card-container ul {
		padding: 0;
		width: auto;
	}
	#booking-section .booking-card-container ul li {
		padding: 3px 0;
	}
	ul.booking-info-links {
		width: auto;
		padding: 0;
		margin-top: 30px;
	}
	/* AMENITIES */
	#booking-amenities-section {
		margin: auto;
		padding: 30px 0;
	}
	.amenities-container {
		text-align: left;
		border: none;
	}
	.amenities-container li {
		font-size: 1rem;
	}
	/* ADMIN */
	#above-booking-admin-section {
		position: relative;
		top: -60px;
	}
	#booking-admin-section {
		padding-bottom: 40px;
	}
	#booking-admin-pricing-section a {
		color: #0f203e;
	}
	#booking-admin-section ul {
		width: 70vw;
		padding-left: 15vw;
		padding-bottom: 3vh;
		font-size: 1.1rem;
	}
	#booking-admin-section h3 {
		color: #0f203e;
		text-align: center;
		padding-top: 2.5vh;
	}
	.table-div {
		box-sizing: border-box;
		/* border: 2px solid #4672b9; */
		border-radius: 10px;
		overflow: hidden;
		width: 90vw;
		margin: auto;
		box-shadow: 0 3px 15px 5px rgba(0, 0, 0, 0.5);
	}
	table {
		border-collapse: collapse;
		width: 100%;
	}
	th,
	td {
		padding: 10px;
		color: #0f203e;
		text-align: center;
	}
	th {
		background-color: #0f203e;
		color: #fbfcfe;
	}
	th.border-right {
		border-right: 1px solid #fbfcfe;
	}
	tr.blue {
		background-color: #b9cce4;
	}
	#booking-admin-pricing-section p {
		color: #0f203e;
		text-align: center;
		max-width: 60ch;
		width: 80vw;
		margin: 25px auto 0px auto;
		font-size: 1.1rem;
	}
	#booking-admin-pricing-section ul {
		padding-top: 0;
	}
	#above-booking-admin-payment-section {
		position: relative;
		top: -60px;
	}
	#booking-admin-payment-section a[href^="tel"] {
		color: #0f203e;
	}
	#booking-admin-payment-section a[href^="mailto"] {
		color: #0f203e;
	}
	.booking-admin-type {
		list-style-type: none;
	}
	.booking-admin-type.body {
		padding-top: 4vw;
	}
	#above-booking-admin-terms-section {
		position: relative;
		top: -60px;
	}
	#above-booking-admin-cancellation-section {
		position: relative;
		top: -60px;
	}
	#above-contact-section {
		position: relative;
		top: -60px;
	}
}
/* TABLET */
@media screen and (min-width: 675px) and (max-width: 1200px) {
	#main {
		font-size: 1.15rem;
	}
	.above-section-link {
		position: relative;
		top: -60px;
	}
	/* BOOKING */
	#booking-section {
		margin-top: 60px;
		padding-top: 3vw;
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
	}
	h1.feature-header {
		color: #0f203e;
		padding-bottom: 3vw;
	}
	.booking-content-container {
		display: flex;
		justify-content: center;
		flex-direction: column;
		align-items: center;
		width: 100vw;
		padding-top: 3.8vw;
	}
	.booking-info {
		width: 70vw;
		font-size: 1.25rem;
		margin: auto;
		margin-bottom: 1vw;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	#booking-section p {
		color: #0f203e;
		margin-top: auto;
		margin-bottom: auto;
		text-align: center;
		padding-bottom: 10px;
	}
	#booking-section a {
		color: #0f203e;
		font-weight: bold;
	}
	.booking-info ul {
		color: #0f203e;
		text-align: left;
		padding-left: 20vw;
		margin-bottom: 2vw;
	}
	#booking-section ul li {
		padding-bottom: 10px;
	}
	.booking-card-container {
		box-shadow: 0 2px 9px rgba(0, 0, 0, 0.5);
		border-radius: 10px;
		width: 70vw;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding: 0 0 15px 0;
	}
	.booking-card-container h3 {
		color: #0f203e;
		text-align: center;
	}
	#booking-section .booking-card-container p {
		color: #0f203e;
		text-align: center;
		width: min(90%, 60ch);
		padding: 0 0 10px 0;
	}
	.booking-card-img-container {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-evenly;
		align-items: center;
		width: 100%;
		margin-top: 5px;
	}
	.booking-card-img-container a {
		width: 20%;
		/* width: 35%; */
		margin-bottom: 10px;
	}
	.booking-card-img-container img {
		width: 100%;
	}
	#booking-section .booking-card-container ul {
		padding: 0;
		width: auto;
	}
	#booking-section .booking-card-container ul li {
		padding-bottom: 5px;
	}
	ul.booking-info-links {
		width: auto;
		padding: 0;
		margin-top: 30px;
	}
	/* AMENITIES */
	.amenities-container {
		max-width: 70vw;
		border: none;
	}
	.amenities-content-container {
		margin-left: 30px;
	}
	.amenities-content-container ul {
		margin-right: 5px;
		text-align: left;
	}
	/* ADMIN */
	#booking-admin-section {
		display: flex;
		flex-direction: column;
		padding-top: 60px;
		align-items: center;
		padding-bottom: 60px;
	}

	#booking-admin-pricing-section {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	#booking-admin-pricing-section h3 {
		text-align: center;
		margin-top: -1vw;
		color: #0f203e;
	}
	#booking-admin-pricing-section a {
		color: #0f203e;
	}
	.table-div {
		box-sizing: border-box;
		border-radius: 10px;
		overflow: hidden;
		width: 70vw;
		/* max-width: 700px; */
		margin: auto;
		box-shadow: 0 3px 15px 5px rgba(0, 0, 0, 0.5);
	}
	table {
		border-collapse: collapse;
		width: 100%;
		/* max-width: 700px; */
	}
	th,
	td {
		padding: 10px;
		color: #0f203e;
		text-align: center;
	}
	th {
		background-color: #0f203e;
		color: #fbfcfe;
	}
	th.border-right {
		border-right: 1px solid #fbfcfe;
	}
	tr.blue {
		background-color: #b9cce4;
	}
	.pricing-info-container {
		margin-bottom: 60px;
	}
	.pricing-info-container p {
		color: #0f203e;
		width: 70vw;
		max-width: 60ch;
		margin: 30px auto 15px auto;
	}
	ul.pricing-info-text {
		width: auto;
		max-width: 60vw;
		margin: auto;
		padding-left: 15vw;
		padding-right: 15vw;
	}
	#payment-terms-container {
		display: flex;
		justify-content: space-around;
		padding-top: 45px;
	}
	#payment-terms-container h3 {
		padding-left: 25px;
		color: #0f203e;
	}
	#booking-admin-payment-section {
		width: 40vw;
	}

	#booking-admin-payment-section a[href^="tel"] {
		color: #0f203e;
	}
	#booking-admin-payment-section a[href^="mailto"] {
		color: #0f203e;
	}
	.booking-admin-type {
		list-style-type: none;
	}
	.booking-admin-type.body {
		padding-top: 10px;
	}
	#booking-admin-terms-section {
		width: 40vw;
	}
}
/* DESKTOP */
@media screen and (min-width: 1200px) {
	#main {
		font-size: 1.25rem;
	}
	.line-divider.title {
		margin: 60px auto 90px auto;
	}
	.line-divider {
		margin: 90px auto;
		padding: 0;
	}
	.above-section-link {
		position: relative;
		/* top: -60px; */
	}
	/* BOOKING */
	#booking-section {
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
		margin: 0;
		padding: 0;
	}
	h1.feature-header {
		color: #0f203e;
		padding: 60px 0 0 0;
		margin: 55px 0 0 0;
	}
	.booking-content-container {
		display: flex;
		justify-content: space-evenly;
		align-items: flex-start;
		width: 70vw;
	}
	.booking-info {
		width: 20vw;
		margin: 0;
		font-size: 1.25rem;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	#booking-section p {
		color: #0f203e;
		margin-top: auto;
		margin-bottom: auto;
		text-align: left;
		padding-bottom: 10px;
	}
	#booking-section a {
		color: #0f203e;
		font-weight: bold;
	}
	#booking-section ul {
		color: #0f203e;
		text-align: left;
	}
	#booking-section ul li {
		padding-bottom: 10px;
	}
	.booking-card-container {
		box-shadow: 0 2px 9px rgba(0, 0, 0, 0.5);
		border-radius: 10px;
		width: auto;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding: 0 0 25px 0;
	}
	.booking-card-container h3 {
		color: #0f203e;
		text-align: center;
	}
	#booking-section .booking-card-container p {
		color: #0f203e;
		text-align: center;
		width: min(90%, 60ch);
		padding: 0 0 10px 0;
	}
	.booking-card-img-container {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-evenly;
		align-items: center;
		width: 100%;
	}
	.booking-card-img-container a {
		width: 35%;
		margin-bottom: 10px;
	}
	.booking-card-img-container img {
		width: 100%;
	}
	#booking-section .booking-card-container ul {
		padding: 0;
		margin: 10px 0 0 0;
		width: auto;
	}
	#booking-section .booking-card-container ul li {
		padding-bottom: 6px;
	}
	ul.booking-info-links {
		width: auto;
		padding: 0;
		margin-top: 30px;
	}
	/* AMENITIES */
	#booking-amenities-section {
		display: flex;
		justify-content: center;
		align-items: center;
		margin: 0;
		padding: 0;
	}
	.amenities-container {
		width: 35vw;
		border: none;
	}
	.amenities-content-container {
		margin: 0;
		padding: 0 30px 0 0;
	}
	.amenities-content-container ul {
		margin-left: auto;
	}
	/* ADMIN */
	#booking-admin-section {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding-bottom: 90px;
	}
	#booking-admin-section h3 {
		color: #0f203e;
		margin-top: 0;
	}
	#booking-admin-section ul {
		margin-left: -1.5vw;
		width: 25vw;
	}
	#booking-admin-pricing-section {
		display: flex;
		flex-direction: row-reverse;
		justify-content: center;
	}
	#booking-admin-pricing-section a {
		color: #0f203e;
	}
	.pricing-info-container {
		margin-right: 10px;
	}
	.pricing-info-container h3 {
		color: #0f203e;
		margin-top: 0;
	}
	.pricing-info-container p {
		color: #0f203e;
		max-width: 60ch;
	}
	.table-div {
		box-sizing: border-box;
		width: 40vw;
		max-width: 700px;
		/* border: 2px solid #4672b9; */
		border-radius: 10px;
		overflow: hidden;
		margin-left: 2vw;
		box-shadow: 0 3px 15px 5px rgba(0, 0, 0, 0.5);
	}
	table {
		border-collapse: collapse;
		width: 100%;
		max-width: 700px;
	}
	th,
	td {
		padding: 10px;
		color: #0f203e;
		text-align: center;
	}
	th {
		background-color: #0f203e;
		color: #fbfcfe;
	}
	th.border-right {
		border-right: 1px solid #fbfcfe;
	}
	tr.blue {
		background-color: #b9cce4;
	}
	#payment-terms-container {
		display: flex;
		justify-content: space-around;
	}
	#booking-admin-payment-section {
		width: 30vw;
	}
	#booking-admin-payment-section a[href^="tel"] {
		color: #0f203e;
	}
	#booking-admin-payment-section a[href^="mailto"] {
		color: #0f203e;
	}
	.booking-admin-type {
		list-style-type: none;
	}
	.booking-admin-type.body {
		padding-top: 1vw;
	}
	#booking-admin-terms-section {
		width: 30vw;
	}
}
