/* MOBILE */
@media screen and (max-width: 675px) {
	.t-only,
	.d-only,
	.td-only,
	#landing-section {
		display: none;
	}
	/* FEATURE */
	#feature-section {
		font-size: 1.15rem;
		text-align: center;
		padding-bottom: 60px;
	}
	.above-link {
		position: relative;
		padding-top: -60px;
	}
	.sub-feature {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.feature-landing {
		position: relative;
		top: 60px;
		width: 100%;
	}
	.feature-landing img {
		width: 100%;
		object-fit: contain;
		box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
	}
	.sub-feature h2,
	.sub-feature p,
	.sub-feature ul,
	.sub-feature li {
		color: #0f203e;
	}
	.sub-feature-info-holder {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.sub-feature-info-holder h2 {
		margin-top: 60px;
		text-align: center;
		padding-top: 2vh;
		padding-bottom: 2vh;
		margin-bottom: auto;
	}
	.sub-feature-info-holder p {
		width: 80vw;
		/* margin: auto; */
		margin-bottom: 0;
		padding-bottom: 2vh;
	}
	.sub-feature-info-holder ul {
		text-align: left;
		max-width: 70vw;
		margin: 0 0 0 0;
		padding: 0 0 0 0;
	}
	.sub-feature-info-holder li {
		padding-bottom: 10px;
	}
	.sub-feature-info-holder li.sub-li {
		font-size: 0.9em;
	}
	.feature-details a {
		color: #0f203e;
	}
	.book-button.long {
		width: 60vw;
		padding: 2px;
		margin: 10px 0 0 0;
	}
}
/* TABLET */
@media screen and (min-width: 675px) and (max-width: 1200px) {
	.m-only,
	.d-only {
		display: none;
	}
	/* FEATURE */
	#feature-section {
		font-size: 1.25rem;
		text-align: center;
		width: 100vw;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	#feature-section h1 {
		padding-top: 60px;
		margin: 55px auto 55px auto;
		text-align: center;
	}
	.above-link {
		position: relative;
		padding-top: -60px;
	}
	.sub-feature {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
	}
	.sub-feature {
		width: 66vw;
		margin-bottom: 55px;
	}
	.feature-landing {
		margin: 55px auto 20px auto;
	}
	.feature-landing img {
		width: 100%;
		object-fit: contain;
		border-radius: 10px;
		box-shadow: 0 3px 15px 5px rgba(0, 0, 0, 0.5);
		margin: auto;
	}
	.sub-feature-info-holder {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.sub-feature-info {
		width: 60vw;
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-top: 15px;
	}
	.sub-feature h2,
	.sub-feature p,
	.sub-feature ul,
	.sub-feature li {
		color: #0f203e;
	}
	.sub-feature-info-holder h2 {
		text-align: center;
		padding: 0 auto 15px auto;
		margin: 10px auto 5px auto;
	}
	.sub-feature-info-holder p {
		margin: auto;
		text-align: center;
		padding-bottom: 15px;
	}
	.sub-feature-info-holder ul {
		text-align: left;
		margin: 10px 0 0 0;
	}
	.sub-feature-info-holder ul li {
		padding-bottom: 10px;
	}
	.sub-feature-info-holder ul li.sub-li {
		font-size: 0.9em;
	}
	.socials-icons img {
		width: 7vw;
	}
	.feature-details a {
		color: #0f203e;
	}
	.book-button-container {
		width: 80%;
		padding-top: 1vw;
	}
	.book-button.long {
		width: 45vw;
		padding: 2px;
		text-align: center;
		margin: 20px 0 10px 0;
	}
	#feature-section .line-divider {
		margin: 10px 0;
	}
}
/* DESKTOP */
@media screen and (min-width: 1200px) {
	.m-only,
	.t-only,
	.tm-only {
		display: none;
	}
	/* FEATURE */
	#feature-section {
		font-size: 1.15rem;
		text-align: center;
		padding-bottom: 60px;
	}
	#feature-section h1 {
		padding: 60px 0 0 0;
		margin: 55px 0 0 0;
		text-align: center;
	}
	.line-divider.title {
		margin: 60px auto 0 auto;
	}
	.above-link {
		position: relative;
		padding-top: -60px;
	}
	.sub-feature {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
	}
	.sub-feature-img-info-holder {
		display: flex;
		flex-direction: row-reverse;
	}
	.feature-landing {
		width: 40vw;
	}
	.feature-landing img {
		width: 100%;
		object-fit: contain;
		border-radius: 10px;
		box-shadow: 0 3px 15px 5px rgba(0, 0, 0, 0.5);
		margin-left: 50px;
	}
	.sub-feature-info-holder {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.sub-feature-info {
		width: 30vw;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.sub-feature h2,
	.sub-feature p,
	.sub-feature ul,
	.sub-feature li {
		color: #0f203e;
	}
	.sub-feature-info-holder h2 {
		text-align: center;
		margin: 0 0 10px 0;
	}
	.sub-feature-info-holder p {
		margin: 0;
		width: 90%;
		max-width: 60ch;
	}
	.sub-feature-info-holder ul {
		text-align: left;
		margin: 5px 0 0 0;
		width: 75%;
	}
	.sub-feature li {
		padding-bottom: 1vh;
	}
	.sub-feature li.sub-li {
		font-size: 0.9em;
	}
	.socials-icons {
		margin-bottom: 2vh;
	}
	.feature-details {
		text-align: center;
		padding: 10px 0;
	}
	.feature-details a {
		color: #0f203e;
	}
	.book-button-container {
		width: 80%;
		padding-top: 10px;
	}
	.book-button.long {
		width: 90%;
		padding: 2px;
		text-align: center;
		margin-top: 25px;
	}
	.line-divider {
		margin-top: 100px;
		padding-top: 100px;
	}
}
