/* MOBILE */
@media screen and (max-width: 675px) {
	#m-feature-section {
		padding-bottom: 0;
	}
	.m-sub-feature p {
		padding-bottom: 2vh;
	}
	.m-sub-feature .m-socials-icons {
		padding-bottom: 1vh;
	}
	/* IMAGES */
	div.m-resto-images {
		padding-top: 5vh;
	}
	.m-resto-images img {
		width: 100%;
		object-fit: contain;
		vertical-align: bottom;
		box-shadow: 0 0px 10px rgba(0, 0, 0, 0.5);
	}
}
/* DESKTOP */
@media screen and (min-width: 675px) {
	#d-feature-section {
	}
	#d-feature-section h1 {
	}
	.d-laks-info-container {
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.d-laks-text-container {
		width: 30vw;
	}
	.d-laks-text-container p {
	}
	.d-laks-info-container img {
		width: 30vw;
		margin-left: 5vw;
		border: 2px solid #b9cce4;
		border-radius: 25px;
		box-shadow: 0 3px 15px 5px rgba(0, 0, 0, 0.5);
	}
	.d-laks-images-row-container {
		display: flex;
		align-items: center;
		justify-content: space-evenly;
		flex-wrap: nowrap;
		padding-bottom: 5vh;
	}
	.d-laks-images-row-container img {
		max-width: 30vw;
		border-radius: 25px;
		box-shadow: 0 3px 15px 5px rgba(0, 0, 0, 0.5);
		transition: transform 0.5s ease-in-out;
	}
	.d-laks-images-row-container img:hover {
		/* cursor: pointer; */
		transform: scale(1.05);
	}
}
/* TABLET */
@media screen and (min-width: 675px) and (max-width: 1200px) {
	#t-feature-section {
		padding-bottom: 3vw;
	}
	#t-feature-section h1 {
		padding-bottom: 4vw;
	}
	#t-feature-section .t-line-divider {
		margin: auto;
		padding-top: 5vw;
	}
	.t-laks-info-container {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		padding-bottom: 2vw;
	}
	.t-laks-text-container {
		width: 60vw;
		margin-top: 1vw;
	}
	.t-laks-text-container p {
		text-align: center;
	}
	.t-laks-info-container img {
		width: 66vw;
		border: 2px solid #b9cce4;
		border-radius: 25px;
		box-shadow: 0 3px 15px 5px rgba(0, 0, 0, 0.5);
	}
	.t-laks-images-row-container {
		display: flex;
		align-items: center;
		justify-content: space-evenly;
		flex-wrap: nowrap;
		padding-bottom: 5vh;
	}
	.t-laks-images-row-container img {
		max-width: 30vw;
		border-radius: 25px;
		box-shadow: 0 3px 15px 5px rgba(0, 0, 0, 0.5);
		transition: transform 0.5s ease-in-out;
	}
	.t-laks-images-row-container img:hover {
		/* cursor: pointer; */
		transform: scale(1.05);
	}
}
