/* MOBILE */
@media screen and (max-width: 675px) {
	#feature-section {
		padding-bottom: 0;
	}
	.sub-feature p {
		padding-bottom: 2vh;
	}
	.sub-feature .socials-icons {
		padding-bottom: 1vh;
	}
	/* IMAGES */
	div.resto-images {
		padding-top: 5vh;
	}
	.resto-image-container {
		position: relative;
	}
	.resto-image-container::after {
		content: "";
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 25%;
		background: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0%, #000000 100%);
		mix-blend-mode: normal;
		opacity: 1;
	}
	.resto-images img {
		width: 100%;
		object-fit: contain;
		vertical-align: bottom;
		/* box-shadow: 0 0px 10px rgba(0, 0, 0, 0.5); */
	}
	.resto-image-container p {
		position: absolute;
		bottom: -10px;
		left: 25px;
		font-size: 1.5rem;
		z-index: 1;
	}
}
/* MOBILE */
@media screen and (max-width: 675px) {
	/* MENU */
	#menu-section {
		width: 100vw;
		height: auto;
		background-color: #b9cce4;
		box-shadow: 0 3px 15px 5px rgba(0, 0, 0, 0.5);
		margin-top: 20px;
		padding: 20px 0;
		position: relative;
	}
	#menu-section h2 {
		text-align: center;
		margin: 0 0 20px 0;
		padding: 0;
	}
	.menus-container {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
	.menus-container-3 {
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: space-evenly;
		align-items: center;
		width: 100%;
	}
	.menu-container {
		width: 25vw;
		height: auto;
		margin-bottom: 10px;
	}
	.menu-container img {
		width: 100%;
		height: auto;
		border-radius: 5px;
		box-shadow: 0 2px 9px rgba(0, 0, 0, 0.5);
	}
	.menu-container h5 {
		margin: 0;
	}
	.menu-zoom {
		visibility: hidden;
		transition: all 0.3s ease-in-out;
		width: min(675px, 90vw);
		max-width: 675px;
		height: auto;
		position: absolute;
		z-index: 1;
		top: 50%;
		left: 50%;
		transform: translateX(-50%) translateY(-50%);
		opacity: 0;
	}
	.menu-zoom img {
		width: 100%;
		height: auto;
		border-radius: 10px;
		box-shadow: 0 2px 9px rgba(0, 0, 0, 0.5);
	}
}

/* TABLET */
@media screen and (min-width: 675px) and (max-width: 1200px) {
	.laks-info-container {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		padding-bottom: 2vw;
	}
	.laks-text-container {
		width: 60vw;
		margin-top: 1vw;
	}
	.laks-text-container p {
		text-align: center;
	}
	.socials-icons.laks {
		padding: 5px 0;
	}
	.laks-info-container img {
		width: 66vw;
		border: 2px solid #b9cce4;
		border-radius: 25px;
		box-shadow: 0 3px 15px 5px rgba(0, 0, 0, 0.5);
	}
	.resto-images {
		width: 100vw;
		margin-top: 60px;
	}
	.laks-images-row-container {
		display: flex;
		align-items: center;
		justify-content: space-evenly;
		flex-wrap: nowrap;
		padding-bottom: 2vw;
	}
	.resto-image-container {
		position: relative;
		max-width: 30vw;
		border-radius: 25px;
		box-shadow: 0 3px 15px 5px rgba(0, 0, 0, 0.5);
		transition: transform 0.5s ease-in-out;
	}
	.resto-image-container:hover {
		transform: scale(1.05);
	}
	.resto-image-container::after {
		content: "";
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 25%;
		background: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0%, #000000 100%);
		mix-blend-mode: normal;
		opacity: 1;
		border-radius: 25px;
	}
	.laks-images-row-container img {
		display: block;
		max-width: 30vw;
		border-radius: 25px;
	}
	.resto-image-container p {
		position: absolute;
		bottom: -10px;
		left: 15px;
		font-size: 1.25rem;
		z-index: 2;
		color: #fbfcfe;
	}
	/* MENU */
	#menu-section {
		width: 100vw;
		height: auto;
		background-color: #b9cce4;
		box-shadow: 0 3px 15px 5px rgba(0, 0, 0, 0.5);
		margin: 0 0 60px 0;
		padding: 0 0 30px 0;
		position: relative;
	}
	#menu-section h2 {
		text-align: center;
		margin: 0;
		padding: 30px 0;
	}
	.menus-container {
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: center;
		align-items: center;
		width: 100%;
	}
	.menus-container-3 {
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: space-around;
		align-items: center;
		width: 45%;
	}
	.menu-container {
		width: 12.5vw;
	}
	.menu-container img {
		width: 100%;
		height: auto;
		border-radius: 10px;
		box-shadow: 0 2px 9px rgba(0, 0, 0, 0.5);
	}
	.menu-container h5 {
		margin: 10px 0 0 0;
		font-size: 1.25rem;
	}
	.menu-zoom {
		visibility: hidden;
		transition: all 0.3s ease-in-out;
		width: min(675px, 90vw);
		max-width: 675px;
		height: auto;
		position: absolute;
		z-index: 1;
		top: 50%;
		left: 50%;
		transform: translateX(-50%) translateY(-50%);
		opacity: 0;
	}
	.menu-zoom img {
		width: 100%;
		height: auto;
		border-radius: 10px;
		box-shadow: 0 2px 9px rgba(0, 0, 0, 0.5);
	}
}
/* DESKTOP */
@media screen and (min-width: 1200px) {
	.sub-feature-info .center {
		text-align: center;
	}
	.socials-icons.laks {
		padding: 25px 0 0 0;
		margin: 0;
	}
	.laks-images-row-container {
		display: flex;
		align-items: center;
		justify-content: space-evenly;
		flex-wrap: nowrap;
		padding-bottom: 5vh;
	}
	.resto-image-container {
		position: relative;
		max-width: 30vw;
		border-radius: 25px;
		box-shadow: 0 3px 15px 5px rgba(0, 0, 0, 0.5);
		transition: transform 0.5s ease-in-out;
	}
	.resto-image-container:hover {
		transform: scale(1.05);
	}
	.resto-image-container::after {
		content: "";
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 25%;
		background: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0%, #000000 100%);
		mix-blend-mode: normal;
		opacity: 1;
		border-radius: 25px;
	}
	.laks-images-row-container img {
		display: block;
		max-width: 30vw;
		border-radius: 25px;
	}
	.resto-image-container p {
		position: absolute;
		bottom: -10px;
		left: 25px;
		font-size: 1.5rem;
		z-index: 2;
		color: #fbfcfe;
	}
	/* MENU */
	#menu-section {
		width: 100vw;
		height: auto;
		background-color: #b9cce4;
		box-shadow: 0 3px 15px 5px rgba(0, 0, 0, 0.5);
		margin: 100px 0 60px 0;
		padding: 0 0 30px 0;
		position: relative;
	}
	#menu-section h2 {
		text-align: center;
		margin: 0;
		padding: 30px 0;
	}
	.menus-container {
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: center;
		align-items: center;
		width: 100%;
	}
	.menus-container-3 {
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: space-around;
		align-items: center;
		width: 45%;
	}
	.menu-container {
		width: 12.5vw;
	}
	.menu-container img {
		width: 100%;
		height: auto;
		border-radius: 10px;
		box-shadow: 0 2px 9px rgba(0, 0, 0, 0.5);
		cursor: pointer;
	}
	.menu-container h5 {
		margin: 10px 0 0 0;
		font-size: 1.25rem;
	}
	.menu-zoom {
		visibility: hidden;
		transition: all 0.3s ease-in-out;
		width: min(675px, 90vw);
		max-width: 675px;
		height: auto;
		position: absolute;
		z-index: 1;
		top: 50%;
		left: 50%;
		transform: translateX(-50%) translateY(-50%);
		opacity: 0;
	}
	.menu-zoom img {
		width: 100%;
		height: auto;
		border-radius: 10px;
		box-shadow: 0 2px 9px rgba(0, 0, 0, 0.5);
		cursor: pointer;
	}
}
