.sub-feature-info {
	margin-top: 10px;
}
.sub-feature p {
	margin: 10px auto;
	padding: 0;
}
.rooms-package-container {
	width: 90vw;
	background-color: #b9cce4;
	border: 2px solid #4672b9;
	border-radius: 10px;
	box-shadow: 0 2px 9px rgba(0, 0, 0, 0.5);
	padding-bottom: 15px;
	margin-top: 30px;
}
.rooms-package-container h3 {
	color: #0f203e;
	margin: 0;
	padding: 10px 0;
}
.rooms-package-details-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-top: 1px solid #0f203e;
	padding: 15px 0 0 0;
}
.rooms-package-details-container ul {
	text-align: left;
	margin: 0;
	max-width: 90%;
}
/* TABLET */
@media screen and (min-width: 675px) and (max-width: 1200px) {
	.above-link {
		position: relative;
		top: -60px;
	}
	.rooms-package-holder {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.rooms-package-container {
		max-width: 66vw;
		width: -moz-fit-content;
		width: fit-content;
	}
	.rooms-package-details-container {
		text-align: left;
		padding: 15px 15px 5px 5px;
	}
	.rooms-package-details-container li {
		margin: 5px auto;
	}
}
/* DESKTOP */
@media screen and (min-width: 1200px) {
	.above-link {
		position: relative;
		top: -170px;
	}
	.rooms-package-holder {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		width: 100vw;
	}
	.rooms-package-container {
		max-width: 38vw;
		width: -moz-fit-content;
		width: fit-content;
		text-align: center;
		margin: 50px 25px 0 25px;
	}
	.rooms-package-details-container {
		text-align: left;
		padding: 15px 15px 5px 5px;
	}
	.rooms-package-details-container li {
		margin: 5px auto;
	}
}
