@font-face {
	font-family: "Headings";
	src: url("./fonts/M_PLUS_1p/MPLUS1p-Thin.ttf") format("truetype");
}

@font-face {
	font-family: "Body";
	src: url("./fonts/Forum/Forum-Regular.ttf") format("truetype");
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Headings", sans-serif;
	color: #0f203e;
}

p,
li {
	font-family: "Body", serif;
	color: #0f203e;
	font-weight: 500;
}

body {
	overflow-x: hidden;
}

.section-link {
	position: relative;
	top: -60px;
}

.section-link.extra-space {
	top: -90px;
}

/* MOBILE */
@media screen and (max-width: 675px) {
	#desktop {
		display: none;
	}
	#tablet {
		display: none;
	}
	#mobile {
		background-color: #fbfcfe;
	}
	.m-book-button {
		display: inline-block;
		padding: 7px;
		font-size: 1.25rem;
		color: #fbfcfe;
		background-color: #0f203e;
		border: 2px solid #b9cce4;
		border-radius: 10px;
		text-decoration: none;
		box-shadow: 0 2px 7px rgba(0, 0, 0, 0.5);
		transition: transform 0.05s ease-in-out, box-shadow 0.05s ease-in-out;
	}
	.m-book-button:active {
		transform: scale(0.95);
		box-shadow: 0 0px 2px rgba(0, 0, 0, 0.5);
	}
	.m-line-divider {
		width: 80vw;
		border-top: 2px solid #b9cce4;
		margin: 0 auto;
	}
}
/* DESKTOP */
@media screen and (min-width: 1200px) {
	#mobile {
		display: none;
	}
	#tablet {
		display: none;
	}
	#desktop {
		background-color: #fbfcfe;
	}
	.d-book-button {
		display: inline-block;
		padding: 7px;
		font-size: 20px;
		color: #fbfcfe;
		background-color: #0f203e;
		border: 2px solid #b9cce4;
		border-radius: 10px;
		text-decoration: none;
		box-shadow: 0 2px 7px rgba(0, 0, 0, 0.5);
		transition: transform 0.1s ease-in-out, box-shadow 0.1s ease-in-out,
			background-color 0.2s ease-in-out;
	}
	.d-book-button:hover {
		background-color: #4672b9;
	}
	.d-book-button:active {
		transform: scale(0.95);
		box-shadow: 0 0px 2px rgba(0, 0, 0, 0.5);
	}
	.d-line-divider {
		width: 70%;
		border-top: 2px solid #b9cce4;
		margin: auto;
	}
	.d-line-divider.wide {
		width: 100vw;
	}
}
/* TABLET */
@media screen and (min-width: 675px) and (max-width: 1200px) {
	#mobile {
		display: none;
	}
	#desktop {
		display: none;
	}
	#tablet {
		background-color: #fbfcfe;
	}
	.d-book-button,
	.t-book-button {
		display: inline-block;
		padding: 7px;
		font-size: 20px;
		color: #fbfcfe;
		background-color: #0f203e;
		border: 2px solid #b9cce4;
		border-radius: 10px;
		text-decoration: none;
		box-shadow: 0 2px 7px rgba(0, 0, 0, 0.5);
		transition: transform 0.1s ease-in-out, box-shadow 0.1s ease-in-out,
			background-color 0.2s ease-in-out;
	}
	.d-book-button:hover,
	.t-book-button:hover {
		background-color: #4672b9;
	}
	.d-book-button:active,
	.t-book-button:active {
		transform: scale(0.95);
		box-shadow: 0 0px 2px rgba(0, 0, 0, 0.5);
	}
	.t-line-divider,
	.d-line-divider {
		width: 70%;
		border-top: 2px solid #b9cce4;
		margin: auto;
	}
	.t-line-divider.wide,
	.d-line-divider.wide {
		width: 100vw;
	}
}
