/* FOR USE WITH TFF FONTS */
/* @font-face {
	font-family: "Headings";
	src: url("./fonts/M_PLUS_1p/MPLUS1p-Thin.ttf") format("truetype");
	font-display: swap;
}

@font-face {
	font-family: "Body";
	src: url("./fonts/Forum/Forum-Regular.ttf") format("truetype");
	font-display: swap;
} */

/* FOR USE WITH WOFF AND WOFF2 CONVERTED FONTS */
@font-face {
	font-family: "Headings";
	src: url("./fonts/M_PLUS_1p/MPLUS1p-Light.woff2") format("woff2"),
		url("./fonts/M_PLUS_1p/MPLUS1p-Light.woff") format("woff");
	font-display: swap;
}

@font-face {
	font-family: "Body";
	src: url("./fonts/Forum/Forum-Regular.woff2") format("woff2"),
		url("./fonts/Forum/Forum-Regular.woff") format("woff");
	font-display: swap;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Headings", sans-serif;
	color: #0f203e;
}

p,
li {
	font-family: "Body", serif;
	color: #0f203e;
	font-weight: 500;
}

body {
	overflow-x: hidden;
}

.section-link {
	position: relative;
	top: -60px;
}

.section-link.extra-space {
	top: -90px;
}

#main {
	background-color: #fbfcfe;
	width: 100vw;
	width: 100svw;
}

.book-button {
	display: inline-block;
	padding: 7px;
	font-size: 20px;
	color: #fbfcfe;
	background-color: #0f203e;
	border: 2px solid #b9cce4;
	border-radius: 5px;
	text-decoration: none;
	box-shadow: 0 2px 7px rgba(0, 0, 0, 0.5);
	transition: transform 0.1s ease-in-out, box-shadow 0.1s ease-in-out,
		background-color 0.2s ease-in-out;
}
.book-button:hover {
	background-color: #4672b9;
}
.book-button:active {
	transform: scale(0.95);
	box-shadow: 0 0px 2px rgba(0, 0, 0, 0.5);
}

.line-divider {
	width: 80vw;
	border-top: 2px solid #b9cce4;
	margin: 0 auto;
	padding: 0;
}
.line-divider.wide {
	width: 100vw;
}

.light {
	color: #fbfcfe !important;
}
.lightblue {
	color: #b9cce4 !important;
}
.midblue {
	color: #4672b9 !important;
}
.darkblue {
	color: #0f203e !important;
}

/* MOBILE */
@media screen and (max-width: 675px) {
	.t-only,
	.d-only,
	.td-only {
		display: none;
	}
}
/* TABLET */
@media screen and (min-width: 675px) and (max-width: 1200px) {
	.m-only,
	.d-only {
		display: none;
	}
}
/* DESKTOP */
@media screen and (min-width: 1200px) {
	.m-only,
	.t-only,
	.mt-only {
		display: none;
	}
}
