<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="./resources/reset.css" />
		<link rel="stylesheet" href="./resources/styles.css" />
		<link rel="stylesheet" href="./feature.css" />
		<link rel="stylesheet" href="./resources/style-components/nav.css" />
		<link rel="stylesheet" href="./resources/style-components/landing.css" />
		<link rel="stylesheet" href="./resources/style-components/contact.css" />
		<link rel="stylesheet" href="./resources/style-components/socials.css" />
		<link rel="stylesheet" href="./resources/style-components/footer.css" />
		<title>Le Dream Hotel - Feature</title>
	</head>
	<body>
		<div id="mobile"></div>
		<div id="desktop"></div>
	</body>
</html>
